body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    color: #333;
    text-align: left;
    font-family: Arial;
    font-size: 16px;
    margin-top: 1em;
    padding: 0;
    background-color: #222;
    min-height: 100vh;
}

main {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    background-color: #fff;
}

#cabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #17f;
    box-shadow: 0px 2px 50px 0px #0009;
    color: white;
    font-weight: bold;
    margin-top: 0;
    padding: .75em;
}

#cabecera #tagline {
    font-weight: normal;
    font-size: .7em;
}

#post {
    padding: 1em;
}

#post h1 {
    font-size: 20px;
    color: #33A;
}

footer {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: #33A;
}

footer h2 {
    color: #fff;
}